/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Global Styles */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


/* Header Styles */
header{
    background:#ffffff;
    color: #000000;
    padding-top:30px;
    min-height:70px;
    border-bottom: #8fe507 10px solid;
}

header a{
    color:#000000;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
}

header , header .current a{
    color:#e8491d;
    font-weight:bold;
}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

/* Banner Styles */
#banner{
    min-height:400px;
    background:url('') no-repeat 0 -400px;
    text-align:center;
    color:#000000;
}

#banner h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#banner p{
    font-size:20px;
}

/* Login Form */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 0;
    border-bottom: 2px solid gray;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 75%;
}

.loginerror {
    text-align: center;
    color: red;
    font-size: 2em;
}

/* Assignment Styles */
#grid-assignments {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.assignment-bottom:after {
    content: "";
    display: block;
    height: 2px;
    background: gray;
    width: 100%;
    margin-top: 5px;
}

.assignment h2 {
    font-size: 2em;
}

.assignment p {
    margin-top: -2vh;
}

.assignment a {
    text-decoration: none;
    color: #8fe507;
    font-size: 1.2em;
}

.assignmentpage h2 {
    font-size: 2em;
}

.assignmentpage h2:after {
    content: "";
    display: block;
    height: 2px;
    background: gray;
    width: 100%;
    margin-top: 5px;
}

.new_assignment {
    text-align: center;
    height: 5vh;
    width: 10vw;
    border: none;
    background-color: gray;
    color: white;
    margin-left: 5%;
}

.mentorButton {
    margin-top: 5vh;
}

.assignment_submit {
    width: 100%;
}

#assignment_content {
    height: 10vh;
}

/* Dialog Styles */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}